/*  TOP NAVIGATION BAR */
.topnav {
  background-color: #57c115;
  overflow: hidden;
  text-align: center;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2c2f33;
  color: white;
  font-size: 16px solid;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: transparent;
  color: green;
}

body {
  	background-color: #2C2F33;
	color: white;
	font-family: courier;
}

style
a:link {
	text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
	color: white;
	background-color: #5b36e9;
}

a:active {
  text-decoration: none;
}

a {
  color: white;
}

#reject {
    display: none;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: 0 auto;
    width: 100%; height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

#reject.shown {
    display: block;
}

#reject div {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    background-color: #2C2F33;
    overflow: auto;
    padding: 1em 1em 3em 3em;
}

#additional-info {
    display: none;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    margin: 0 auto;
    width: 100%; height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

#additional-info div {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
    background-color: #2C2F33;
    overflow: auto;
    padding: 2em 2em 3em 3em;
	text-align: justify;

}

#additional-info.shown {
    display: block;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
	background-color: transparent;
	color: white;
}

th:hover {
    cursor: pointer;
    background-color: #5b36e9;
	color: white;
}

th.sortasc, th.sortdesc {
    background-color: #2c2f33;
}

th.sortasc::after, th.sortdesc::after {
    display: block;
    float: right;
}

th.sortasc::after {
    content: "▼";
}

th.sortdesc::after {
    content: "▲";
}

td, th {
    padding: 0.5em;
    text-align: left;
    border-color: transparent;
    border-style: solid;
    border-width: 2px 0 2px;
}

tbody tr:hover { outline: 1px solid; }
tr.green { background-color: #57c115; }
tr.notgreen { background-color: #2C2F33; }
tr.rejected { background-color: #ce3d1a; }
tr.nodata { background-color: #2C2F33; color: #DDD; }
td:nth-child(1) { width: 20%; overflow: hidden; }
td:nth-child(2) { width: 20%; }
td:nth-child(3) { width: 20%; }

h2 {
    color: #57c115;
    background-color: transparent;
    text-align: center;
    padding: 14px 16px;
}

h4 {
    color: black;
    background-color: transparent;
    text-align: center;
}

p {
    color: white;
    text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
