@charset "utf-8";

body {
  	background-color: #2C2F33;
	color: white;
	font-family: courier;
	text-align: justify;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
	background-color: #5b36e9;
	color: #ebe305;
}


style
a:link {
	text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
	color: black;
	background-color: #d0188f;
}
a:active {
  text-decoration: none;
}
a {
  color: white;
}
